<!DOCTYPE html>
<html>
  <head>
    <title>Typechecker</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <section class='options'>
      <h1>
        Type Checker
      </h1>
      <div class="option">
        <label for="sentence">Your text</label>
        <input type="text" name="sentence" placeholder="The quick brown fox..." value="">
      </div>
    </section>
    <textarea class='output'>The quick brown fox jumps over the lazy dog</textarea>
  </body>
  <script type="text/javascript" src='../javascript/typechecker.js'></script>
</html>